In [1]:
# setup
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn import linear_model
from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error
import clean_test_data_functions as clean_data
pd.options.display.max_columns = None

In [2]:
data = pd.read_csv('fifa21_train.csv')
data = clean_data.clean_fifa_data(data)
data.head(10)

   REACTIONS  BASE_STATS  BP_INFO  OVA
0         66         357       63   64
1         75         412       77   77
2         78         404       80   80
3         55         329       58   59
4         62         360       64   65
5         69         379       70   71
6         74         410       74   76
7         60         327       61   60
8         64         338       68   65
9         63         381       68   67

In [3]:
y = data['OVA']
# set X to all columns, minus the target
X = data.drop(['OVA'], axis=1)
X = X.select_dtypes(include = np.number)

In [4]:
# train/fit model 
lm = linear_model.LinearRegression()
lm.fit(X,y)
predictions = lm.predict(X)

# Test Data

In [5]:
data_for_p = pd.read_csv('fifa21_validate.csv')
data_for_p = clean_data.clean_fifa_data(data_for_p)

In [6]:
y_for_p =  data_for_p['OVA']
data_for_p = data_for_p.drop(['OVA'], axis=1)
results_for_p = lm.predict(data_for_p)
estimates = pd.concat([data_for_p, y_for_p,pd.Series(results_for_p, name='ESTIMATE')],axis=1).head(40).round(2)
estimates = estimates.style.format("{:.2f}").apply(lambda x: ['background-color: lightblue' if x.name == estimates.columns[-2] else 'background-color: yellow' if x.name == estimates.columns[-1] else '' for i in x], axis=0)
estimates

In [7]:
print("R2-score is ", lm.score(X,y))

R2-score is  0.9792564782504277